/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box; }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0; }

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0; }

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */
hr {
  color: inherit;
  /* 1 */
  height: 0;
  /* 2 */
  overflow: visible;
  /* 3 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0; }

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */
nav li::before {
  content: "\200B"; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */
pre {
  font-family: monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
  overflow: auto;
  /* 3 */
  -ms-overflow-style: scrollbar;
  /* 3 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none; }

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data
 * ========================================================================== */
/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
table {
  border-collapse: collapse;
  /* 1 */
  border-color: inherit;
  /* 2 */
  text-indent: 0;
  /* 3 */ }

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0; }

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */ }

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */ }

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible; }

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none; }

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
  resize: block;
  /* 3 */ }

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0; }

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none; }

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block; }

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

dialog:not([open]) {
  display: none; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction
 * ========================================================================== */
/*
 * Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed; }

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden] {
  display: initial; }

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute; }

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

nav ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

.blog .h1, .articles .h1, .videos .h1, .translations .h1 {
  color: #679;
  font-size: 1.65rem;
  font-weight: 400;
  padding-left: 20px; }

.blog .pagenumber, .articles .pagenumber, .videos .pagenumber, .translations .pagenumber {
  height: 30px;
  border: 1px solid black;
  margin: 10px 10px 10px 15px;
  background-color: rgba(185, 204, 220, 0.36); }
  .blog .pagenumber .pagenumber__countpost, .articles .pagenumber .pagenumber__countpost, .videos .pagenumber .pagenumber__countpost, .translations .pagenumber .pagenumber__countpost {
    float: left;
    padding-left: 20px;
    vertical-align: middle;
    padding-top: 2px; }
  .blog .pagenumber .pagenumber__row, .articles .pagenumber .pagenumber__row, .videos .pagenumber .pagenumber__row, .translations .pagenumber .pagenumber__row {
    float: right;
    padding-top: 2px;
    padding-right: 20px;
    text-decoration: none; }
    .blog .pagenumber .pagenumber__row .pagenumber__link, .articles .pagenumber .pagenumber__row .pagenumber__link, .videos .pagenumber .pagenumber__row .pagenumber__link, .translations .pagenumber .pagenumber__row .pagenumber__link {
      text-decoration: none; }
      .blog .pagenumber .pagenumber__row .pagenumber__link:hover, .articles .pagenumber .pagenumber__row .pagenumber__link:hover, .videos .pagenumber .pagenumber__row .pagenumber__link:hover, .translations .pagenumber .pagenumber__row .pagenumber__link:hover {
        color: red; }

.blog .blog-unit .postfooter, .articles .articles-unit .postfooter, .videos .videos__row .postfooter, .translations .translations-unit .postfooter {
  display: block;
  height: 35px;
  padding: 5px;
  border-bottom: 1px solid black;
  margin: 5px 10px 5px 10px;
  background-color: white; }
  .blog .blog-unit .postfooter .postfooter__link, .articles .articles-unit .postfooter .postfooter__link, .videos .videos__row .postfooter .postfooter__link, .translations .translations-unit .postfooter .postfooter__link {
    padding: 0 5px 0 0;
    border-right: 1px solid black;
    margin: 5px;
    text-decoration: none; }
    .blog .blog-unit .postfooter .postfooter__link, .articles .articles-unit .postfooter .postfooter__link, .videos .videos__row .postfooter .postfooter__link, .translations .translations-unit .postfooter .postfooter__link {
      color: #679; }
      .blog .blog-unit .postfooter .postfooter__link:visited, .articles .articles-unit .postfooter .postfooter__link:visited, .videos .videos__row .postfooter .postfooter__link:visited, .translations .translations-unit .postfooter .postfooter__link:visited {
        color: #679; }
      .blog .blog-unit .postfooter .postfooter__link:hover, .articles .articles-unit .postfooter .postfooter__link:hover, .videos .videos__row .postfooter .postfooter__link:hover, .translations .translations-unit .postfooter .postfooter__link:hover {
        color: red; }
      .blog .blog-unit .postfooter .postfooter__link:active, .articles .articles-unit .postfooter .postfooter__link:active, .videos .videos__row .postfooter .postfooter__link:active, .translations .translations-unit .postfooter .postfooter__link:active, .blog .blog-unit .postfooter .postfooter__link:focus, .articles .articles-unit .postfooter .postfooter__link:focus, .videos .videos__row .postfooter .postfooter__link:focus, .translations .translations-unit .postfooter .postfooter__link:focus {
        color: red; }
  .blog .blog-unit .postfooter .postfooter__date, .articles .articles-unit .postfooter .postfooter__date, .videos .videos__row .postfooter .postfooter__date, .translations .translations-unit .postfooter .postfooter__date {
    padding-right: 5px;
    border-right: 1px solid black; }
  @media (max-width: 450px) {
    .blog .blog-unit .postfooter, .articles .articles-unit .postfooter, .videos .videos__row .postfooter, .translations .translations-unit .postfooter {
      height: 45px;
      font-size: 0.8rem;
      font-weight: 300;
      padding-bottom: 25px; } }

html body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.375;
  color: #000;
  background-color: #f3f3f3; }
  html body .page {
    background-color: #f3f3f3; }

html body.lock {
  overflow: hidden; }

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #679; }
  .header .header__container {
    display: block;
    position: relative;
    max-width: 1180px;
    height: 40px;
    margin: 0 auto; }
    .header .header__container .header__body {
      display: flex;
      position: relative;
      width: 100%;
      height: 40px;
      justify-content: space-between;
      align-items: center; }
      .header .header__container .header__body .header__burger {
        display: none; }
        .header .header__container .header__body .header__burger .header__span {
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          top: 9px;
          background-color: #fff; }
        @media (max-width: 767px) {
          .header .header__container .header__body .header__burger {
            display: block;
            position: relative;
            z-index: 3;
            width: 30px;
            height: 20px;
            margin-left: 10px; }
            .header .header__container .header__body .header__burger::before, .header .header__container .header__body .header__burger::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              left: 0;
              background-color: #fff; }
            .header .header__container .header__body .header__burger::before {
              top: 0; }
            .header .header__container .header__body .header__burger::after {
              bottom: 0; } }
      .header .header__container .header__body .header__site-name {
        display: none; }
        @media (max-width: 767px) {
          .header .header__container .header__body .header__site-name {
            display: inline-block;
            position: relative;
            z-index: 3;
            padding-left: 10px;
            font-size: 1.5rem;
            font-weight: 700;
            color: white; } }
        @media (max-width: 360px) {
          .header .header__container .header__body .header__site-name {
            padding-right: 10px; } }
      .header .header__container .header__body .search {
        display: none; }
        @media (max-width: 767px) {
          .header .header__container .header__body .search {
            display: inline-block;
            position: relative;
            z-index: 3;
            padding-right: 10px; }
            .header .header__container .header__body .search .search__input {
              display: inline-block;
              width: 130px; }
            .header .header__container .header__body .search .search__button {
              display: inline-block; } }
        @media (max-width: 360px) {
          .header .header__container .header__body .search {
            display: none; } }
      .header .header__container .header__body .header-logo {
        display: none;
        padding-right: 20px; }
        .header .header__container .header__body .header-logo .header-logo__h1 {
          display: inline-block;
          font-size: 1.5rem;
          font-weight: 700;
          padding-right: 50px;
          color: white; }
        .header .header__container .header__body .header-logo .header-logo__button {
          display: inline-block;
          padding-top: 2px; }
        @media (max-width: 767px) {
          .header .header__container .header__body .header-logo {
            display: block;
            position: relative;
            z-index: 3; } }
      .header .header__container .header__body .header__menu .header__list {
        position: relative;
        z-index: 3; }
        .header .header__container .header__body .header__menu .header__list .header__a {
          margin: 0 0 0 10px;
          font-weight: 300;
          font-size: 1.25rem;
          text-decoration: none; }
          .header .header__container .header__body .header__menu .header__list .header__a {
            color: crimson; }
            .header .header__container .header__body .header__menu .header__list .header__a:visited {
              color: crimson; }
            .header .header__container .header__body .header__menu .header__list .header__a:hover {
              color: blueviolet; }
            .header .header__container .header__body .header__menu .header__list .header__a:active, .header .header__container .header__body .header__menu .header__list .header__a:focus {
              color: blueviolet; }
          @media (max-width: 767px) {
            .header .header__container .header__body .header__menu .header__list .header__a {
              display: block;
              padding: 0 0 10px 10px;
              font-weight: 400;
              font-size: 1.5rem; } }
      .header .header__container .header__body .header__menu::after {
        content: "";
        display: block;
        z-index: 3;
        width: 100%;
        height: 100%;
        background-color: #f3f3f3; }
      @media (max-width: 767px) {
        .header .header__container .header__body .header__menu {
          position: fixed;
          top: 0;
          left: -100%;
          width: 50%;
          height: 100%;
          padding: 70px 0 0 0;
          transition: all 0.35s ease 0s;
          background-color: white; } }
      .header .header__container .header__body .header__menu.active {
        left: 0; }
      @media (max-width: 767px) {
        .header .header__container .header__body {
          height: 50px; } }
    @media (max-width: 767px) {
      .header .header__container {
        height: 50px; } }
  .header .header__bottom {
    display: block;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 150px;
    background-color: #679; }
    .header .header__bottom .header__row {
      max-width: 1180px;
      margin: 0 auto; }
      .header .header__bottom .header__row .header__h1 {
        font-size: 2rem;
        font-weight: 700;
        padding: 20px 0 10px 10px;
        color: white; }
      .header .header__bottom .header__row .header__input {
        display: inline-block;
        width: 200px;
        margin: 0 0 0 10px; }
    @media (max-width: 767px) {
      .header .header__bottom {
        display: none; } }
  .header::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white; }
    @media (max-width: 767px) {
      .header::before {
        background-color: #679; } }

.main {
  padding-top: 200px;
  max-width: 1180px;
  margin: 0 auto; }
  .main .main__row {
    padding: 10px 10px 10px 20px; }
    .main .main__row .main__heading {
      font-size: 1.55rem;
      font-weight: 400;
      color: #679; }
  .main .main__posts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap; }
    .main .main__posts .post {
      flex-grow: 1;
      flex-basis: 250px;
      min-width: 260px;
      background-color: white;
      margin: 20px 20px 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .main .main__posts .post .post__container {
        padding: 10px; }
        .main .main__posts .post .post__container .post__link .post__img {
          width: 100%; }
        .main .main__posts .post .post__container .post__text {
          text-align: center;
          padding-top: 5px; }
          .main .main__posts .post .post__container .post__text .post__p {
            text-decoration: none;
            color: #679; }
            .main .main__posts .post .post__container .post__text .post__p:hover {
              color: red; }
      .main .main__posts .post .post__footer {
        width: 100%;
        height: 30px;
        margin-top: 5px;
        padding-top: 4px;
        text-align: center;
        border-top: 1px solid #679; }
  .main .main__category .row-head {
    padding: 10px 10px 10px 130px;
    font-size: 1.55rem;
    font-weight: 400;
    color: #296f99; }
  .main .main__category .category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
    .main .main__category .category .category__li {
      width: 260px;
      text-align: justify; }
      .main .main__category .category .category__li .category-column__link {
        text-decoration: none; }
        .main .main__category .category .category__li .category-column__link {
          color: #679; }
          .main .main__category .category .category__li .category-column__link:visited {
            color: #679; }
          .main .main__category .category .category__li .category-column__link:hover {
            color: red; }
          .main .main__category .category .category__li .category-column__link:active, .main .main__category .category .category__li .category-column__link:focus {
            color: red; }
      @media (min-width: 1000px) {
        .main .main__category .category .category__li {
          width: 300px; } }
  @media (max-width: 767px) {
    .main {
      padding-top: 60px; } }

.blog {
  padding-top: 200px;
  max-width: 1180px;
  margin: 0 auto; }
  .blog .blog-unit {
    padding: 10px 20px 20px 20px; }
    .blog .blog-unit .blog-unit__header {
      font-size: 1.2rem;
      font-weight: 400;
      padding-left: 20px;
      color: #296f99; }
    .blog .blog-unit .blog-unit__body {
      overflow: hidden;
      padding: 10px; }
      .blog .blog-unit .blog-unit__body .blog-unit__img {
        float: left;
        padding-right: 10px;
        max-width: 250px;
        height: 160px; }
      .blog .blog-unit .blog-unit__body .blog-unit__p {
        display: inline; }
  @media (max-width: 767px) {
    .blog {
      padding-top: 60px; } }

.articles {
  padding-top: 200px;
  max-width: 1180px;
  margin: 0 auto; }
  .articles .articles-unit .articles-unit__header {
    color: #296f99;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 5px 0 0 20px; }
  .articles .articles-unit .articles-unit__row .articles-unit__p {
    padding: 10px; }
  @media (max-width: 767px) {
    .articles {
      padding-top: 60px; } }

.videos {
  padding-top: 200px;
  max-width: 1180px;
  margin: 0 auto; }
  .videos .videos__row .videos-unit .videos-unit__header {
    color: #296f99;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 5px 0 0 20px; }
  .videos .videos__row .videos-unit .videos-unit__row {
    padding: 20px; }
    .videos .videos__row .videos-unit .videos-unit__row .iframe-wrap {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden; }
    .videos .videos__row .videos-unit .videos-unit__row .iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-width: 0;
      outline-width: 0; }
  .videos .videos__row .videos-unit .videos-unit__p {
    margin-top: 10px; }
  @media (max-width: 767px) {
    .videos {
      padding-top: 60px; } }

.translations {
  padding-top: 200px;
  max-width: 1180px;
  margin: 0 auto; }
  .translations .translations-unit .translations-unit__header {
    color: #296f99;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 5px 0 0 20px; }
  .translations .translations-unit .translations-unit__row .translations-unit__p {
    padding: 10px; }
  @media (max-width: 767px) {
    .translations {
      padding-top: 60px; } }

.footer {
  height: 65px;
  margin-top: 20px;
  background-color: #679; }
  .footer .footer__container {
    max-width: 1180px;
    padding: 5px 0 5px 20px;
    margin: 0 auto; }
    .footer .footer__container .footer__copyright {
      font-weight: 300;
      font-size: 1.2rem;
      color: white; }
    .footer .footer__container .footer__about {
      color: white; }
      .footer .footer__container .footer__about .footer__link {
        text-decoration: none; }
        .footer .footer__container .footer__about .footer__link {
          color: white; }
          .footer .footer__container .footer__about .footer__link:visited {
            color: white; }
          .footer .footer__container .footer__about .footer__link:hover {
            color: red; }
          .footer .footer__container .footer__about .footer__link:active, .footer .footer__container .footer__about .footer__link:focus {
            color: red; }
