@import "variables";
@import "mixins";

%h1-shared {
  color: $color-h1;
  font-size: 1.65rem;
  font-weight: 400;
  padding-left: 20px;
}

%pagenumber-shared {
  height: 30px;
  border: 1px solid black;
  margin: 10px 10px 10px 15px;
  background-color: $color-pagenumber;

  .pagenumber__countpost {
    float: left;
    padding-left: 20px;
    vertical-align: middle;
    padding-top: 2px;
  }

  .pagenumber__row {
    float: right;
    padding-top: 2px;
    padding-right: 20px;
    text-decoration: none;

    .pagenumber__link {
      text-decoration: none;

      &:hover {
        color: red;
      }
    }
  }
}

%postfooter-shared {
  display: block;
  height: 35px;
  padding: 5px;
  border-bottom: 1px solid black;
  margin: 5px 10px 5px 10px;
  background-color: white;

  .postfooter__link {
    padding: 0 5px 0 0;
    border-right: 1px solid black;
    margin: 5px;
    text-decoration: none;

    @include links(
      $color-link,
      $color-link,
      $color-link-hover,
      $color-link-hover
    );
  }

  .postfooter__date {
    padding-right: 5px;
    border-right: 1px solid black;
  }

  @media (max-width: 450px) {
    height: 45px;
    font-size: 0.8rem;
    font-weight: 300;
    padding-bottom: 25px;
  }
}

html {
  body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.375;
    color: $color-page-font;
    background-color: $color-page-background;

    .page {
      background-color: $color-page-background;
    }
  }

  body.lock {
    overflow: hidden;
  }
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $color-header-background;

  .header__container {
    display: block;
    position: relative;
    max-width: 1180px;
    height: 40px;
    margin: 0 auto;

    .header__body {
      display: flex;
      position: relative;
      width: 100%;
      height: 40px;
      justify-content: space-between;
      align-items: center;

      .header__burger {
        display: none;

        .header__span {
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          top: 9px;
          background-color: #fff;
        }

        @media (max-width: 767px) {
          display: block;
          position: relative;
          z-index: 3;
          width: 30px;
          height: 20px;
          margin-left: 10px;

          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            background-color: #fff;
          }

          &::before {
            top: 0;
          }

          &::after {
            bottom: 0;
          }
        }
      }

      .header__site-name {
        display: none;

        @media (max-width: 767px) {
          display: inline-block;
          position: relative;
          z-index: 3;
          padding-left: 10px;
          font-size: 1.5rem;
          font-weight: 700;
          color: $color-head;
        }

        @media (max-width: 360px) {
          padding-right: 10px;
        }
      }

      .search {
        display: none;

        @media (max-width: 767px) {
          display: inline-block;
          position: relative;
          z-index: 3;
          padding-right: 10px;

          .search__input {
            display: inline-block;
            width: 130px;
          }

          .search__button {
            display: inline-block;
          }
        }

        @media (max-width: 360px) {
          display: none;
        }
      }

      .header-logo {
        display: none;
        padding-right: 20px;

        .header-logo__h1 {
          display: inline-block;
          font-size: 1.5rem;
          font-weight: 700;
          padding-right: 50px;
          color: $color-head;
        }

        .header-logo__button {
          display: inline-block;
          padding-top: 2px;
        }

        @media (max-width: 767px) {
          display: block;
          position: relative;
          z-index: 3;
        }
      }

      .header__menu {
        .header__list {
          position: relative;
          z-index: 3;

          .header__a {
            margin: 0 0 0 10px;
            font-weight: 300;
            font-size: 1.25rem;
            text-decoration: none;

            @include links(
              $color-nav-link,
              $color-nav-link,
              $color-nav-link-hover,
              $color-nav-link-hover
            );

            @media (max-width: 767px) {
              display: block;
              padding: 0 0 10px 10px;
              font-weight: 400;
              font-size: 1.5rem;
            }
          }
        }

        &::after {
          content: "";
          display: block;
          z-index: 3;
          width: 100%;
          height: 100%;
          background-color: $color-page-background;
        }

        @media (max-width: 767px) {
          position: fixed;
          top: 0;
          left: -100%;
          width: 50%;
          height: 100%;
          padding: 70px 0 0 0;
          transition: all 0.35s ease 0s;
          background-color: white;
        }
      }

      .header__menu.active {
        left: 0;
      }

      @media (max-width: 767px) {
        height: 50px;
      }
    }

    @media (max-width: 767px) {
      height: 50px;
    }
  }

  .header__bottom {
    display: block;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 150px;
    background-color: $color-header-background;

    .header__row {
      max-width: 1180px;
      margin: 0 auto;

      .header__h1 {
        font-size: 2rem;
        font-weight: 700;
        padding: 20px 0 10px 10px;
        color: $color-head;
      }

      .header__input {
        display: inline-block;
        width: 200px;
        margin: 0 0 0 10px;
      }
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-head;

    @media (max-width: 767px) {
      background-color: $color-header-background;
    }
  }
}

.main {
  padding-top: 200px;
  max-width: 1180px;
  margin: 0 auto;

  .main__row {
    padding: 10px 10px 10px 20px;

    .main__heading {
      font-size: 1.55rem;
      font-weight: 400;
      color: $color-h1;
    }
  }

  .main__posts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;

    .post {
      flex-grow: 1;
      flex-basis: 250px;
      min-width: 260px;
      background-color: $color-post-background;
      margin: 20px 20px 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .post__container {
        padding: 10px;

        .post__link {
          .post__img {
            width: 100%;
          }
        }

        .post__text {
          text-align: center;
          padding-top: 5px;

          .post__p {
            text-decoration: none;
            color: $color-link;

            &:hover {
              color: $color-link-hover;
            }
          }
        }
      }

      .post__footer {
        width: 100%;
        height: 30px;
        margin-top: 5px;
        padding-top: 4px;
        text-align: center;
        border-top: 1px solid #679;
      }
    }
  }

  .main__category {
    .row-head {
      padding: 10px 10px 10px 130px;
      font-size: 1.55rem;
      font-weight: 400;
      color: $color-h;
    }

    .category {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;

      .category__li {
        width: 260px;
        text-align: justify;

        .category-column__link {
          text-decoration: none;

          @include links(
            $color-link,
            $color-link,
            $color-link-hover,
            $color-link-hover
          );
        }

        @media (min-width: 1000px) {
          width: 300px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 60px;
  }
}

.blog {
  padding-top: 200px;
  max-width: 1180px;
  margin: 0 auto;

  .h1 {
    @extend %h1-shared;
  }

  .pagenumber {
    @extend %pagenumber-shared;
  }

  .blog-unit {
    padding: 10px 20px 20px 20px;

    .blog-unit__header {
      font-size: 1.2rem;
      font-weight: 400;
      padding-left: 20px;
      color: $color-h;
    }

    .blog-unit__body {
      overflow: hidden;
      padding: 10px;

      .blog-unit__img {
        float: left;
        padding-right: 10px;
        max-width: 250px;
        height: 160px;
      }

      .blog-unit__p {
        display: inline;
      }
    }

    .postfooter {
      @extend %postfooter-shared;
    }
  }

  @media (max-width: 767px) {
    padding-top: 60px;
  }
}

.articles {
  padding-top: 200px;
  max-width: 1180px;
  margin: 0 auto;

  .h1 {
    @extend %h1-shared;
  }

  .pagenumber {
    @extend %pagenumber-shared;
  }

  .articles-unit {
    .articles-unit__header {
      color: $color-h;
      font-size: 1.2rem;
      font-weight: 400;
      padding: 5px 0 0 20px;
    }

    .articles-unit__row {
      .articles-unit__p {
        padding: 10px;
      }
    }

    .postfooter {
      @extend %postfooter-shared;
    }
  }

  @media (max-width: 767px) {
    padding-top: 60px;
  }
}

.videos {
  padding-top: 200px;
  max-width: 1180px;
  margin: 0 auto;

  .h1 {
    @extend %h1-shared;
  }

  .pagenumber {
    @extend %pagenumber-shared;
  }

  .videos__row {
    .videos-unit {
      .videos-unit__header {
        color: $color-h;
        font-size: 1.2rem;
        font-weight: 400;
        padding: 5px 0 0 20px;
      }

      .videos-unit__row {
        .videos-unit__iframe {
          width: 580px;
          height: 350px;
          padding: 10px;
        }

        .videos-unit__p {
          padding: 10px;
        }
      }

      .postfooter {
        @extend %postfooter-shared;
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 60px;
  }
}

.footer {
  height: 65px;
  margin-top: 20px;
  background-color: $color-header-background;

  .footer__container {
    max-width: 1180px;
    padding: 5px 0 5px 20px;
    margin: 0 auto;

    .footer__copyright {
      font-weight: 300;
      font-size: 1.2rem;
      color: $color-head;
    }

    .footer__about {
      color: $color-head;

      .footer__link {
        text-decoration: none;

        @include links(white, white, $color-link-hover, $color-link-hover);
      }
    }
  }
}
