$color-h1: #679;
$color-h: #296f99;
$color-page-font: #000;
$color-page-background: #f3f3f3;
$color-nav-link: crimson;
$color-nav-link-hover: blueviolet;
$color-head: white;
$color-header-background: #679;
$color-menu: white;
$color-link: #679;
$color-link-hover: red;
$color-post-background: white;
$color-pagenumber: rgba(185, 204, 220, 0.36);
